<style>
  .sk-features__container {
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    gap: 20px;
    flex-wrap: wrap;
  }
  .sk-features__item {
    display: flex;
    flex-flow: column;
    align-items: center;
    flex: 0 0 270px;
  }
  .sk-features__title {
    text-align: center;
    margin-top: 25px;
    color: #30273e;
    font-size: 20px;
    line-height: 25px;
    font-weight: 600;
  }
  .sk-features {
    padding: 12px 0;
  }
  .sk-features__icon {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    overflow: hidden;
  }
  .sk-features__icon svg {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
  }

  @media only screen and (max-width: 700px) {
    .sk-features {
      padding: 5rem 0;
    }
    .sk-features__item {
      flex: 0 0 220px;
    }
  }

  @media only screen and (max-width: 435px) {
    .sk-features__item {
      flex: 0 0 100%;
      margin-bottom: 50px;
    }

    .sk-features__title {
      font-size: 17px;
      line-height: 24px;
    }

    .sk-features__icon {
      width: 97px;
      height: 97px;
    }
  }
</style>

<section class="sk-features">
  <div class="container-xl px-xl-0 px-md-5 px-4 main-container">
    <div class="sk-features__container">
      {% for block in section.blocks %}
        <div class="sk-features__item">
          {% if block.settings.sk_features_svg != blank %}
            <div class="sk-features__icon">
              {{ block.settings.sk_features_svg }}
            </div>
          {% endif %}
          <span class="sk-features__title">{{ block.settings.sk_features_title }}</span>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "SK Features",
  "settings": [
    {
      "type": "color",
      "id": "sk_features_bgColor",
      "label": "Background Color",
      "default": "#fff"
    }
  ],
  "blocks": [
    {
      "name": "Logo",
      "type": "Card",
      "settings": [
        {
          "type": "html",
          "id": "sk_features_svg",
          "label": "SVG Code",
          "info": "Paste your SVG code here. The SVG will be automatically sized to 98x98px."
        },
        {
          "type": "text",
          "id": "sk_features_title",
          "label": "Title"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "SK Features",
      "category": "Custom"
    }
  ]
}
{% endschema %}
