<style>
  .sk-led-light-work__content {
    width: 50%;
    margin: 15px auto 50px;
  }
  .sk-led-light-work__heading {
    font-size: 48px;
    text-align: center;
    font-weight: 600;
  }
</style>


<section class="sk-led-light-work">
  <div class="container">
    <div class="sk-led-light-work__container">
      <div class="sk-led-light-work__content">
        <h2 class="sk-led-light-work__heading">{{ section.settings.sk_led_light_work_heading }}</h2>
      </div>
      <div class="sk-led-light-work__img">
        <img
          src="{{ section.settings.sk_led_light_work_img | image_url: width: 1200,height: 490 }}"
          alt="{{ section.settings.sk_led_light_work_img.alt }}"
          width="1200"
          height="490">
      </div>

    </div>
  </div>
</section>


{% schema %}
  {
    "name": "SK Led Light Work",
    "settings": [
      {
        "type": "image_picker",
        "id": "sk_led_light_work_img",
        "label": "Section Img"
      }, {
        "type": "text",
        "id": "sk_led_light_work_heading",
        "label": "Title"
      }
    ],
    "presets": [
      {
        "name": "SK Led Light Work"
      }
    ]
  }
{% endschema %}