<style>
  .sk-led-light-work__content {
    width: 50%;
    margin: 15px auto 50px;
  }
  .sk-led-light-work__heading {
    font-size: 48px;
    text-align: center;
    font-weight: 600;
  }

  @media only screen and (max-width: 700px) {
    .sk-led-light-work__content {
      width: 100%;
    }

    .sk-led-light-work-images-container {
      padding: 0;
      justify-content: start;
      gap: 10px;
      width: 480px;
      overflow-x: scroll;
      flex-wrap: nowrap;
      overflow-y: hidden;
    }

    .sk-led-light-work-image-item {
      flex: 0 0 237px;
    }
    .sk-led-light-work-image-item img {
      width: 100%;
      height: auto;
    }
    .sk-led-light-work-images-container svg {
      width: 25px;
      height: 25px;
      flex: 0 0 26px;
    }

    .sk-led-light-work {
      padding: 5rem 0;
    }
  }

  @media only screen and (max-width: 435px) {
    .sk-led-light-work__heading {
      font-size: 32px;
      line-height: 37px;
    }

    .sk-led-light-work-images-container svg {
      width: 16px;
      height: 16px;
    }
    .sk-led-light-work-image-item {
      width: 98px;
    }
  }
</style>

<section class="sk-led-light-work">
  <div class="container-xl px-xl-0 px-md-5 px-4 main-container">
    <div class="sk-led-light-work__container">
      <div class="sk-led-light-work__content">
        <h2 class="sk-led-light-work__heading sk-section-heading sk-section-heading--h1">
          {{ section.settings.sk_led_light_work_heading }}
        </h2>
      </div>
      <div class="sk-led-light-work-images-container">
        {% for block in section.blocks %}
          <div class="sk-led-light-work-image-item">
            <img
              src="{{ block.settings.sk_led_light_work_img | image_url: width: 215, height: 456 }}"
              alt="{{ block.settings.sk_led_light_work_img.alt }}"
              width="215"
              height="456"
            >
          </div>
          {% if forloop.last == false %}
            {{ 'led-light-works-arrow.svg' | inline_asset_content }}
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "SK Led Light Work",
  "settings": [
    {
      "type": "text",
      "id": "sk_led_light_work_heading",
      "label": "Title"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "sk_led_light_work_img",
          "label": "Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "SK Led Light Work"
    }
  ]
}
{% endschema %}
