.section-header.menu-open {
  isolation: isolate;
  position: relative;
  z-index: 10000;
}

.section-header.shopify-section-header-sticky.menu-open {
  isolation: isolate;
  position: sticky;
  z-index: 10000;
}

.header__icon--menu {
  position: initial;
}

.menu-drawer {
  position: fixed;
  transform: translateX(-100%);
  visibility: hidden;
  z-index: 10001;
  left: 0;
  top: 0;
  bottom: 0;
  width: min(75vw, 100%);
  height: 100vh;
  padding: 0;
  background-color: var(--color-white, #ffffff);
  overflow-x: hidden;
  filter: drop-shadow(
    var(--drawer-shadow-horizontal-offset) var(--drawer-shadow-vertical-offset) var(--drawer-shadow-blur-radius)
      rgba(var(--color-shadow), var(--drawer-shadow-opacity))
  );
}

.js .menu-drawer {
  height: 100vh;
}

.js details[open] > .menu-drawer {
  transition: transform var(--duration-default) ease, visibility var(--duration-default) ease;
}

.js details[open].menu-opening > .menu-drawer {
  transform: translateX(0);
  visibility: visible;
}

.js .menu-drawer__navigation .submenu-open {
  visibility: hidden;
  /* hide menus from screen readers when hidden by submenu */
}

@media screen and (min-width: 750px) {
  .menu-drawer {
    border-width: 0 var(--drawer-border-width) 0 0;
    border-style: solid;
    border-color: rgba(var(--color-foreground), var(--drawer-border-opacity));
  }
}

.menu-drawer__inner-container {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem 2.5rem;
}

.menu-drawer__navigation-container {
  display: grid;
  grid-template-rows: 1fr auto;
  align-content: space-between;
  overflow-y: auto;
  height: 100%;
  padding-top: 1rem;
}

.menu-drawer__close-main {
  align-self: flex-end;
  margin: 0;
  padding: 0.25rem 0 0.75rem;
  border: none;
  background: transparent;
  cursor: pointer;
  color: var(--color-brand);
  font-size: 0;
  display: flex;
  justify-content: flex-end;
}

.menu-drawer__close-main .svg-wrapper {
  width: 1.6rem;
  height: 1.6rem;
  display: inline-flex;
  color: var(--color-brand);
  fill: var(--color-brand);
}

.menu-drawer__navigation {
  padding: 0;
}

.menu-drawer__search {
  padding: 1.2rem 1.5rem 1rem;
  display: flex;
  justify-content: center;
}

.menu-drawer__search .search {
  width: 95%;
}

.menu-drawer__search .field {
  margin: 0;
  position: relative;
}

.menu-drawer__search .search__input {
  width: 100%;
}

.menu-drawer__search .predictive-search {
  margin-top: 0.8rem;
}

.menu-drawer__menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-drawer__menu-item {
  display: block;
}

.menu-drawer__submenu-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-drawer__submenu-list .menu-drawer__menu-item {
  padding-left: 4.5rem;
  font-size: 1.6rem;
}

.menu-drawer__submenu-list li {
  border-bottom: none;
}

.menu-drawer__menu > li {
  margin-bottom: 0;
  border-bottom: 1px solid var(--color-brand);
}

.menu-drawer__menu > li:last-child {
  border-bottom: none;
}

.menu-drawer__menu-item {
  padding: 1.1rem 3rem;
  text-decoration: none;
  font-size: 1.8rem;
}

.menu-drawer__menu-item--active,
.menu-drawer__menu-item:focus,
.menu-drawer__close-button:focus,
.menu-drawer__menu-item:hover,
.menu-drawer__close-button:hover {
  color: rgb(var(--color-foreground));
  background-color: rgba(var(--color-foreground), 0.04);
}

.menu-drawer__menu-item--active:hover {
  background-color: rgba(var(--color-foreground), 0.08);
}

.js .menu-drawer__menu-item .icon-caret {
  display: none;
}

.menu-drawer__close-button {
  margin-top: 1.5rem;
  padding: 1.2rem 2.6rem 1.2rem 3rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  width: 100%;
  background-color: transparent;
  font-family: var(--font-body-family);
  font-style: var(--font-body-style);
  text-align: left;
}

.menu-drawer__close-button .svg-wrapper {
  transform: rotate(180deg);
  margin-right: 1rem;
  width: 15px;
}

.menu-drawer__utility-links {
  padding: 0;
  position: relative;
}

.header--has-social .menu-drawer__utility-links {
  padding: 2rem 3rem;
}

@media screen and (max-width: 749px) {
  .header--has-account:where(:not(.header--has-social):not(.header--has-localizations)) .menu-drawer__utility-links {
    padding: 2rem 3rem;
  }
}

@media screen and (max-width: 989px) {
  .header--has-localizations:where(:not(.header--has-social)) .menu-drawer__utility-links {
    padding: 2rem 3rem;
  }
}

.menu-drawer__account {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  padding: 1rem 0;
  font-size: 1.4rem;
  color: rgb(var(--color-foreground));
  margin-bottom: 0;
}

.menu-drawer__utility-links .svg-wrapper svg {
  color: var(--color-brand);
  fill: var(--color-brand);
}

.menu-drawer__account account-icon > .svg-wrapper {
  height: 2rem;
  width: 2rem;
  margin-right: 1rem;
}

.menu-drawer__account shop-user-avatar {
  --shop-avatar-size: 2.4rem;
  margin-right: 0.55rem;
  margin-left: -0.45rem;
}

.menu-drawer__account:hover account-icon > .svg-wrapper {
  transform: scale(1.07);
}

.menu-drawer .list-social {
  justify-content: flex-start;
  margin-left: -1.25rem;
}

.menu-drawer .list-social:empty {
  display: none;
}

.menu-drawer .list-social__link {
  padding: 1.1rem 1.1rem;
}

@media screen and (max-width: 749px) {
  .menu-drawer.country-selector-open {
    transform: none !important;
    filter: none !important;
    transition: none !important;
  }
}
